/* ------------- PAGE LAYOUT STYLING ---------- */
header {
	background-color: black;
	color: white;
	text-align:center;
	padding:2px;
	font-size:100%;
}
section {
	font-family:Arial;
    max-width: 100%;
    /*float:left;*/
    padding:10px;
    margin-left:200px;
}
footer {
	font-family: 'Titillium Web', sans-serif;
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}
h1 {
	font-family: 'Titillium Web', sans-serif;
	font-size: 40px;
	font-variant: small-caps;
}
nav {
	font-family: 'Titillium Web', sans-serif;
	font-weight: bold;
	line-height:30px;
    background-color:#eeeeee;
    height:1000px;
    width:200px;
    float:left;
    padding:0px;
    list-style-type: none;	
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: clear ; /*#f1f1f1*/
    /*position: fixed;
    /*height: 100%;*/
    overflow: auto;
}
li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
    width: 184px;
}
li a.active {
    background-color: navy;
    color: white;
    width:184px;
}
li a:hover:not(.active) {
    background-color: rgb(128,128,128);
    color: white;
    width: 184px;
}
/*  ------------- END OF PAGE LAYOUT STYLING ---------- */

/* ---------- DATA SEARCH CHARACTERISTICS ---------  */
input[type=text] {
    font-family:Arial;
    max-width: 200px;
    padding: 10px;
    margin: 8px 8px 8px 0px;
    box-sizing: border-box;
}
.button {
    background-color: navy; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 12px;
}
.button:hover {
	background-color: rgb(15, 26, 255);
}
/*  --------END OF DATA SEARCH ------- */

/* ----------------TABLE STYLING --------- */
#answer {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
#answer td, #answer th{
	border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}
#answer tr:nth-child(even){background-color: #f2f2f2}

#answer tr:hover {background-color: #ddd;}

#answer th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: navy;
    color: white;
}
/* ---------- END OF TABLE STYLING ---------- */

/*  ----------- DROPDOWNS STYLING -------- */
.dropitems {
	display:inline-block;
	margin: 10px 20px;
}
select {
	background-color: navy;
	color: white;
	padding: 8px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	width: 200px;
}
/* ---------- END OF DROPDOWN STYLING --------- */
